body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow-y: auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-height: 90vh;
    overflow-y: auto; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.category-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.category-btn:hover {
    background-color: #0056b3;
}

.category-container {
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.item span {
    font-size: 1.2em;
    font-size: 1.2em; /* تعديل حجم الخط لكل النصوص داخل العنصر */
}

.item .name {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 1.4em; /* تعديل حجم الخط لاسم المنتج */
}

.item .price {
    font-size: 1.4em; /* تعديل حجم الخط للسعر */

}
